@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Light background */
  --background-end-rgb: 240, 240, 240; /* Light background */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)) rgb(var(--background-end-rgb));
}

/* Add any custom CSS here */
h1, h2, h3, h4, p {
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Add any custom CSS here */
